*{
    padding: 0;
    margin: 0;
}

html,body{
    min-width: 100%;
    min-height: 100%;
}

#Sphere {
    animation: rotate 15s infinite;
}

@keyframes rotate {
    50% {transform: rotate(380deg);}
    
}